* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*header and nav layout*/

.main-header{
    margin:0;
    color:#fff;
    height: 100vh;
    position: fixed;
}

/*background grid*/

.backgrid{
    display: grid;
    grid-template-rows:  repeat(12, 1fr);
    height: 100vh;
    position:fixed;
    width: 100vh;
    transform: translateX(5rem);
    z-index: -1;
}

.back1{
    background-color: red;
    z-index: -2;
    rotate: 60deg;
}

.back2{

    z-index: -3;
    background-color: green;
    rotate: 30deg;
}

.back3{
    z-index: -4;
    background-color: blue;
    rotate: -60deg;
}

.back4{
    z-index: -5;
    background-color: red;
    rotate: 60deg;
}

.back5{
    z-index: -6;
    background-color: green;
    rotate: 30deg;
}
.back6{
    z-index: -7;
    background-color: blue;
    rotate: -60deg;
}

.back7{
    z-index: -8;
    background-color: red;
    rotate: 60deg;
}

.back8{
    z-index: -9;
    background-color: green;
    rotate: 30deg;
}

.back9{
    z-index: -10;
    background-color: blue;
    rotate: -60deg;
}

.back10{
    z-index: -11;
    background-color: red;
    rotate: 60deg;
}

.back11{
    z-index: -12;
    background-color: green;
    rotate: 30deg;
}

.back12{
    z-index: -13;
    background-color: blue;
    rotate: -60deg;
}

/*begin main styling*/

.main-header{
    background-color: #000;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:fixed;
    z-index: 2;
}

.main-header h1{
    font-size: medium;
}

.main-header ul{
    list-style: none;
    font-size: smaller;
}

.main-header li{
    padding-bottom:5rem;
}

.main-header a{
    color:#5e5e5e;
    text-decoration: none;
    transition: color 0.4s ease;
}

.main-header a:hover{
    color:#fff;
    transition: color 0.4s ease;
}

.main-grid {
    background-color: #000;
    color:#fff;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 10px;
    transition: 500ms;
    z-index: -14;
  }

  .showcase{
    rotate:30deg;
    z-index: 1;
  }

  .about{
    text-align: left;
    z-index: 1;
  }

  .sidebar{
    rotate:-30deg;
    z-index: 1;
  }

  footer{
    transform: rotate(-90deg);
    z-index: 2;
  }

  /*main-grid transitions*/
  
  .main-grid:has(.showcase, .about, .sidebar){
    background: #000;
    transition: 300ms;
  }
  
  .main-grid:has(.showcase, .about, .sidebar):hover{
    background: #000;
    color: #fff;
  }
  
  .main-grid:has(.showcase:hover){
    grid-template-columns: 1.5fr 1fr 0.5fr;
  }
  
    .main-grid:has(.about:hover){
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }

    .main-grid:has(.aside:hover){
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }
